<div>
  <% @text_posts.each do |textpost| %>
    <%= div_for textpost do %>
      <p>
        <%= textpost.post %>
      </p>
      <span class='likes pull-left'>
      <%= image_link.likes.count %> likes
      </span>

      <%= form_for Like.new do |f| %>
        <%= f.hidden_field :likeable_type, :value => image_link.class %>
        <%= f.hidden_field :likeable_id, :value => image_link.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Like" %>
      <% end %>
      <p>
        <%= link_to "Show", text_post_path(textpost) %>
      </p>
    <% end %>
  <% end %>
</div>